body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #1a2980, #26d0ce);
    color: #ffffff;
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.weather-container, .crypto-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.weather-card, .crypto-card {
    width: 220px;           /* fixed width */
    height: 220px;          /* fixed height */
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* evenly space out content */
    box-sizing: border-box;
    text-align: center;
}
.weather-card p,
.crypto-card p {
    font-size: 0.9rem;
    margin: 2px 0;        /* reduce space between lines */
    line-height: 1.2;     /* tighten line spacing */
}


.news{
    display: grid;
    place-items: center;
    height: auto;
}

a{
    color: #ffd700;
    text-decoration: none;
}
a:visited{
    color: #ffd700;
}
a:hover{
    color: #ffffff;
    text-decoration: underline;
}
a:active{
    color: #ffd700;
}

.card{
    padding: 20px;
    width: fit-content;
    background: #f9f9f9;
    border-radius: 1px;
    background: rgba(255,255,255,0.1);
    color: #ffffff;
    backdrop-filter: blur(10px);
}

h3{
    margin: 10px;
}